:root {
  --page-bagraund: #11131f;
  --text-color: #f6f5ef;
  --actzent-color: #93abae;
}
body {
  background-color: var(--page-bagraund);
  font-family: DM Sans;
  color: var(--text-color);
  font-size: 18px;
  line-height: 110%;
  font-weight: 400;
}
.container {
  width: 1280px;

  outline: solid cornflowerblue;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
.header {
  padding-top: 33px;
}

.header-box {
  display: flex;
  /*gap:806px;*/
  border-bottom: solid rgba(246, 245, 239, 0.2);
  padding-bottom: 33px;
}

.logo {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 118%; /* 21.24px */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: flex;
  margin-right: auto;
  gap: 8px;
  align-items: center;
}

.logo-text {
  font-weight: 700;
  line-height: 118%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.header-list {
  display: flex;
  gap: 24px;
}
.header-navigation {
}
.header-link {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 118%;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.hero .container {
  padding-left: 50px;
}
.hero-container {
  display: flex;
  gap: 124px;
  justify-content: space-between;
}
.hero-article {
  background-image: url(../images/hero-article-bagrund.png);
  background-repeat: no-repeat;
  padding-top: 96px;
  padding-bottom: 64px;
  background-size: contain;
  /* padding-left: 50px; */
}
.hero-list {
  display: flex;
}
.hero-client {
  color: #11131f;

  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 15.4px */
  letter-spacing: 0.56px;
  text-transform: uppercase;
  margin-top: 11px;
}
.hero-content {
  width: 362px;
  display: flex;
  gap: 14px;
  margin-left: auto;
  margin-right: auto;
}
.hero-price {
  color: var(--page-bagraund);
  font-size: 60px;
  line-height: 110%;
  letter-spacing: -2.7px;
  text-transform: uppercase;
}
.hero-text {
  color: var(--page-bagraund);
  letter-spacing: -0.81px;
}
.hero-info {
  font-size: 60px;
  font-weight: 500;
  letter-spacing: -2.7px;
  line-height: 110%;
}
.hero-phrase {
  color: #bec7c2;
  font-style: italic;
}
.hero-box {
  max-width: 554px;
}
.hero-description {
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.32px;
  margin-top: 16px;
}
.hero-start {
  font-weight: 700;
  letter-spacing: -0.81px;
  padding: 14px 28px;
  border-radius: 60px;
  background: var(--light-green, #93abae);
  color: var(--white, #f6f5ef);
  border: none;
  margin-right: 11px;
}
.hero-button {
  font-weight: 700;
  letter-spacing: -0.81px;
  margin-top: 32px;
  padding: 14px 28px;
  border-radius: 60px;
  border: 1px solid var(--white, #f6f5ef);
  color: var(--white, #f6f5ef);
  background-color: transparent;
}
.info-list {
  display: flex;
  padding-top: 164px;
  padding-bottom: 64px;
  gap: 32px;
}
.info-text {
  font-family: DM Sans;
  font-size: 32px;
  font-weight: 500;
  line-height: 120%; /* 38.4px */
  letter-spacing: -1.44px;
}
.info-item:first-child {
  margin-right: 302px;
}
.info-phrase {
  color: #bec7c2;
  font-style: italic;
}
.info-subtext {
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.32px;
  width: 182px;
}
.gallery-box {
  width: 882px;
  margin-right: auto;
  margin-left: auto;
}
.galllery-title {
  font-size: 100px;
  font-weight: 500;
  letter-spacing: -4.5px;
  line-height: 110%;
  margin-bottom: 64px;
}
.gallery-button {
  font-weight: 700;
  letter-spacing: -0.81px;
  color: var(--white, #f6f5ef);
  /* button_text */
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 19.8px */
  letter-spacing: -0.81px;
  background-color: transparent;
  padding: 14px 28px;
  border-radius: 60px;
  border: 1px solid var(--white, #f6f5ef);
}
.price-section {
  padding-top: 164px;
}
.price-element {
  background: var(--blue-2, #1f212d);
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px;
  border-radius: 24px;
  width: calc((100% - 16px * 2) / 3 );
}
.price-articles {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}
.price-info {
  display: flex;
  margin-bottom: 32px;
  margin-top: 32px;
  justify-content: space-between;
  align-items: center;
}
.price-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.price-item:not(:last-child) {
  margin-bottom: 6px;
}
.price-name {
}
.price-text {
  color: var(--actzent-color);
  font-size: 12px;
  line-height: 118%;
  letter-spacing: 0.36px;
  text-transform: uppercase;
}
.price-list {
  column-count: 2;
}
.price-name {
  font-size: 14px;
  line-height: 118%;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.price-number {
  display: flex;
  font-size: 14px;
  line-height: 118%;
  letter-spacing: 0.42px;
  gap: 6px;
}
.services-section {
  padding-bottom: 164px;
  padding-top: 164px;
}
.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 64px;
}
.services-item {
  position: relative;
}
.services-button {
  font-weight: 700;
  letter-spacing: -0.81px;
  position: absolute;
  left: 32px;
  bottom: 32px;
  border-radius: 60px;
  background: var(--white, #f6f5ef);
  padding: 14px 28px;
  border: none;
}
.contact-container{
  display: flex;
  gap: 188px; 
}
.contact-box{
  outline: solid red;
}
.contact-title {
  font-size: 60px;
  font-weight: 500;
  letter-spacing: -2.7px;
  line-height: 110%;
  margin-bottom: 64px;
}
.contact-form{
  width: 443px;
}
.contact-list{
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.contact-name::placeholder {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.72px;
}
.contact-name,.contact-email,.contact-tel{
  background-color: transparent;
  border: none;
  border-bottom: solid var(--text-color);
  margin-bottom:16px;
  width: 100%;
}
.contact-button {
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: var(--text-color);
  border-radius: 60px;
border: 1px solid var(--white, #F6F5EF);
display: flex;
padding: 14px 28px;
justify-content: center;
align-items: center;
gap: 16px;
margin-top: 64px;
background-color: transparent;
}
.contact-item{
  margin-bottom:28px;
}
.contact-coment{
  background-color: transparent;
  width: 100%;
  border: none;
  border-bottom: solid var(--text-color);
  resize: none;
}
.reviews-section{
padding-top: 164px;
padding-bottom: 164px;
}
.reviews-sublist {
  display: flex;
  gap: 446px;
}
.reviews-info {
  font-size: 32px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1.44px;
}
.reviews-name {
  color: var(--actzent-color);
  font-style: italic;
}
.reviews-description {
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.32px;
}
.reviews-title {
  text-align: center;
  font-weight: 500;
  letter-spacing: -0.81px;
  margin-top: 24px;
}
.reviews-article {
  background: #1f212d;
  border-radius: 24px;
  justify-content: center;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
}
.reviews-text {
  color: var(--actzent-color);
  text-align: center;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.32px;
  margin-top: 8px;
}
.reviews-list {
  display: flex;
  border-radius: 24px;
  gap: 32px;
  margin-top: 64px;
}
.reviews-pfoto{
  width: 56px;
height: 56px;
margin-left: auto;
margin-right: auto;
display: block;
}
.footer-box{
display: flex;  
align-items: center;
}
.foooter-title {
  font-weight: 700;
  line-height: 118%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.footer-list{
display: flex;
justify-content: center;
margin-right:auto ;
margin-left: auto;
gap: 24px;
}
.footer-sublist{
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
.footer-sites{
}
.footer-link {
  font-size: 14px;
  font-weight: 700;
  line-height: 118%;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  color: var(--text-color);
}
.footer-text {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.footer-subtext{
  text-align: center;
  color: rgba(246, 245, 239, 0.50);
text-align: center;
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 118%; /* 16.52px */
letter-spacing: 0.42px;
margin-top: 132px;
}
.footer-privacy{
  margin-left:  32px; 
}