:root {
  --page-bagraund: #11131f;
  --text-color: #f6f5ef;
  --actzent-color: #93abae;
}
body {
  background-color: var(--page-bagraund);
  font-family: DM Sans;
  color: var(--text-color);
  font-size: 18px;
  line-height: 110%;
  font-weight: 400;
}
.container {
  width: 1280px;
  outline: solid cornflowerblue;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
.header{
  padding-top: 33px;
  
}

.header-box {
  display: flex;
  /*gap:806px;*/
  border-bottom:solid rgba(246, 245, 239, 0.20);
  padding-bottom: 33px;
  
}

.header-logo {
  color: var(--white, #F6F5EF);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 118%; /* 21.24px */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: flex;
  margin-right:auto; 
  gap: 8px;
  align-items: center;
}

.header-text {
  font-weight: 700;
  line-height: 118%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.header-list {
  display: flex;
  gap: 24px;
}
.header-navigation {
  outline: solid red;
}
.header-link {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 118%;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.hero .container{
  padding-left: 50px;

}
.hero-container{
  display: flex;
  gap: 124px;
}
.hero-article{
  background-image: url(../images/hero-article-bagrund.png);
  background-repeat: no-repeat;
  padding-top: 96px;
}
.hero-list{
  display: flex;
}
.hero-price {
  color: var(--page-bagraund);
  font-size: 60px;
  line-height: 110%;
  letter-spacing: -2.7px;
  text-transform: uppercase;
}
.hero-text {
  color: var(--page-bagraund);
  letter-spacing: -0.81px;
}
.hero-info {
  font-size: 60px;
  font-weight: 500;
  letter-spacing: -2.7px;
  line-height: 110%;
}
.hero-description {
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.32px;
}
.hero-start {
  font-weight: 700;
  letter-spacing: -0.81px;
}
.hero-button {
  font-weight: 700;
  letter-spacing: -0.81px;
}
.info-subtext {
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.32px;
}
.galllery-title {
  font-size: 100px;
  font-weight: 500;
  letter-spacing: -4.5px;
}
.gallery-button {
  font-weight: 700;
  letter-spacing: -0.81px;
}
.price-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.price-text {
  color: var(--actzent-color);
  font-size: 12px;
  line-height: 118%;
  letter-spacing: 0.36px;
  text-transform: uppercase;
}
.price-name {
  font-size: 14px;
  line-height: 118%;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.price-number {
  font-size: 14px;
  line-height: 118%;
  letter-spacing: 0.42px;
}
.button-services {
  font-weight: 700;
  letter-spacing: -0.81px;
}
.contact-title {
  font-size: 60px;
  font-weight: 500;
  letter-spacing: -2.7px;
}
.contact-name::placeholder {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.72px;
}
.contact-button {
  font-weight: 700;
  letter-spacing: -0.81px;
}
.reviews-info {
  font-size: 32px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1.44px;
}
.reviews-name {
  color: var(--actzent-color);
  font-style: italic;
}
.reviews-description {
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.32px;
}
.reviews-title {
  text-align: center;
  font-weight: 500;
  letter-spacing: -0.81px;
}
.reviews-text {
  color: var(--actzent-color);
  text-align: center;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.32px;
}
.foooter-title {
  font-weight: 700;
  line-height: 118%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.footer-link {
  font-size: 14px;
  font-weight: 700;
  line-height: 118%;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.footer-text {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
